{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
About Page
{% endblock %}

{% block body_block %}
<main role="main" class="container-fluid h-100 page-background bd-content order-1 py-5 px-5">		
    <h1>Rightchoice website</h1>
    <div>
        About us! <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <img src="{% static 'images/Uni.jpg' %}"
            alt="Picture of Glasgow Uni" /> <!-- New line -->
    </div>
</main>
{% endblock %}
