{% extends 'rango/base.html' %}
{% block title_block %}
{% load staticfiles %}
Homepage

{% endblock %}

{% block body_block %}

<head>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title></title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    
</head>

<body>

    {#  <!-- ======= Header ======= -->#}
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">


        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center mb-5">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Right Choice</h1>
                    <h2>Supporting pupils to make the right choices for the future</h2>

                    <div class="d-flex">
                        <a href="#" class="btn-get-started">Career Path</a>

                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="static/images/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">


        <!-- =======  Section ======= -->
        <section id="team" class="team ">
            <div class="container">

                <div class="row mb-5">
                    <div class="search-bar ">
                        <form action="{% url 'rango:search_results' %}" method="GET" value="{{request.GET.q}}">
                            <input type="search" placeholder="Search..." aria-describedby="button-addon1" name="q" value="{{request.GET.q}}" class="shadow form-control form-control-lg mb-4 rounded rounded-pill">
                        </form>
                    </div>
                </div>


                <div class="row mb-5 mt-5">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="card member">
                            <img src="media/uni_images/UniOfG.jpg" alt="">
                            <a href="{% url 'rango:universities' %}" class="btn btn-light btn-lg">Universities</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="card member">
                            <img src="static/images/College.jpg" alt="">
                            <a href="{% url 'rango:college' %}" class="btn btn-light btn-lg">Colleges</a>


                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="card member">
                            <img src="static/images/apprentice.jpg" alt="">
                            <a href="{% url 'rango:apprenticeship' %}" class="btn btn-ligh btn-lg">Apprenticeships</a>

                        </div>
                    </div>
                </div>

                <div class="row mb-5">

                </div>

            </div>
        </section><!--  Section -->


    </main><!-- End #main -->
    <!-- Template Main JS File -->
    <script src="vendor/main.js"></script>

</body>


{% endblock %}