{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Course Page
{% endblock %}

{% block body_block %}
<head>
    <link href="{% static 'css/tertiary.css' %}" rel="stylesheet">
</head>

<div class="container-fluid mb-5 main">

    <div class="row shadow justify-content-end align-items-center d-flex flex-wrap px-5 px-lg-0">

        <div class="col-lg-4 my-5 order-lg-first">
            <img src="/media/uni_images/{{ course.universityName.universityImage }}" alt="Picture of University" class="welcome-pic rounded-circle">
        </div>

        <div class="col-lg-7 align-self-end mt-5 mb-lg-5 order-first">
            <div class="title">
                <a href="{% url 'rango:university' course.universityName.slug %}" class="uni-link">
                    <h2 class=""> {{ course.universityName.name }} </h2>
                </a>
                <h1 style="font-size: 50px;"> {{ course.name }} </h1>
            </div>
        </div>

    </div>

    <ul class="list-group">
        <li class="list-group-item active" align="center"><h4>Course Info</h4></li>
        <li class="list-group-item" align="center"><h5><strong>Entry Requirements:</strong> {{ course.gradesReq }}</h5></li>
        {% if course.subReqName.all|first != "" %}
        {% for subject in course.subReqName.all %}
        <li class="list-group-item" align="center"><h5><strong>Subjects Required:</strong> {{ subject.name }} {{ subject.level }}</h5></li>
        {% endfor %}
        {% endif %}
        <li class="list-group-item" align="center"> <h5><strong>Suggested Subjects:</strong> {{ course.subjectSuggestions }}</h5></li>
        {% for name in course.careerName.all %}
        <li class="list-group-item" align="center"><h5><strong>Career Name:</strong> {{ name.careerName }}</h5></li>
        {% endfor %}
        <li class="list-group-item" align="center"><h5><strong>Find our more information here:</strong> <strong><a href={{ course.universityName.linkToUniWebsite }}>{{ course.universityName.linkToUniWebsite }}</a></strong></h5></li>
    </ul>



    <div class="row mb-4 mt-4"></div>

</div>
{% endblock %}
