{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Course Page
{% endblock %}

{% block body_block %}
<head>
    <link href="{% static 'css/tertiary.css' %}" rel="stylesheet">
</head>

<div class="container-fluid mb-5 main"> 

    <div class="row shadow justify-content-end align-items-center">

        <div class="col-md-4 my-5 ">
            <img src="{{ MEDIA_URL }}/uni_images/{{ course.universityName.universityImage }}" alt="Picture of University" class="welcome-pic rounded-circle">
        </div>

        <div class="col-md-7 align-self-end my-5">
            <div class="title">
                <a href="{% url 'rango:universities' %}" class="uni-link">
                    <h2 class="" style=""> {{ course.universityName.name }} </h2>
                </a>
                <h1 style="font-size: 50px;"> {{ course.name }} </h1>
            </div>
        </div>

    </div>

    <div class="row mt-5 justify-content-end">
        <div class="col-7">
            <div class="border-bottom py-3">
                <h3> Requirements </h3>

                <h5> 
                    Grades required: <strong >{{ course.gradesReq }}</strong>
                </h5>

                <h5> Subjects required: </h5>

                <ul class="list-group list-group-flush">
                    {% for subject in course.subReqName.all %}
                        <li class="list-group-item"> <strong> {{ subject.name }} {{ subject.level }} </strong></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="py-3">
                <h3> Careers </h3>
                
                <ul class="list-group list-group-flush">
                    {% for name in course.careerName.all %}
                        <li class="list-group-item"> <strong> {{ name.careerName }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-4 mt-4"></div>

</div>
{% endblock %}
