{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
University Page
{% endblock %}

{% block body_block %}
<head>
    <link href="{% static 'css/university.css' %}" rel="stylesheet">
</head>

<div class="container">

    <div class="row spacing-row"> </div> <!-- a row correspondant to the header-->

    <div class="row welcome-row">
        <div class="col welcome-text">
            <div class="px-5 py-5">
                <p style="font-size: 50px; line-height: 0.8;"> Universities</p>
                <p style="font-size: 35px; color: #d9a4ff; line-height: 0.8">The best of the best. </p>
            </div>
        </div>
        <div class="col-7 order-2 order-sm-1">
            <img src="{% static 'images/zaba.jpg' %}" alt="placeholder" class="welcome-pic">
        </div>
    </div>

    <div class="row spacing-row"> </div>

    <div class="row"> <!-- iterate thorugh the various universities and display them as cards -->
        {% if universities_list %}

            {% for university in universities_list %}
                <div class="column">
                    <div class="card">
                        <img src="{{ MEDIA_URL }}{{ pictures|getDictValue:university }}" alt="{{ university.name }}" style="width:100%;height:50%">
                        <div class="container">
                            <h5>
                                <a href="{% url 'rightchoice:university' university.slug %}" style="color:black"> {{ university.name }}  </a> 
                            </h5>
                            <div style="margin: 10px 0;">
                            </div>
                            <p class="overflow-ellipsis">
                                {{ university.description }}
                            </p>
                            <p><button>See</button></p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p> no unis :( </p>
        {% endif %}

    </div>
</div>


{% endblock %}