body {
    font-family: "Open Sans", sans-serif;
    color: #2f1f3d;
}

a {
    color: #FFEC44;
    text-decoration: none;
}

a:hover {
    color: #FFC700;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#content-wrap {
    min-height: 83vh;
    padding-bottom: 6rem;
}

#wrapper {
    min-height: 100vh;
    position:relative;
}

.bg-custom {
    background-color: rgba(18, 3, 62, 1);
    color: rgba(246, 243, 255, 1);
}

.footer-colour {
    background-color: rgba(5, 0, 17, 1);
    color: rgba(246, 243, 255, 1);
}

.page-background {
    /*background: linear-gradient(180deg, #12033E 0%, #050011 100%);*/
}