/*--------------------------------------------------------------
# Search bar
--------------------------------------------------------------*/

.form-control{
    border: none;
}

.form-control:focus {
    border: none;
    
}

.form-control::placeholder {
    font-size: 0.95rem;
    font-style: italic;
    text-align: left;
}

.search-bar form {
    font-size: 20px;
    width:20%;
    height: 20px;
}

.search-bar input[type=text] {
    border: none;
}

.pb-40 {
    padding-bottom: 40px;
}

input[type=search] {
    width: 500%;
    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 35px 35px
}

input::placeholder {
    text-align: center;
}

p {
    font-size: x-large;
}
