.welcome-row {
    height: 100vh;
}

.spacing-row {
    height: 100px;
}

.welcome-text{
    padding-top: 10%;
}

.welcome-pic{
    float:right;
    height:92%;
    width: 90%;
    
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
}

.card:hover{
    box-shadow: 3px 3px 7px #999;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.card{
    box-shadow: 3px 3px 7px rgb(211, 211, 211);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*--------------------------------------------------------------
# Search bar
--------------------------------------------------------------*/

.form-control{
    border: none;
}

.form-control:focus {
    border: none;
    
}

.form-control::placeholder {
    font-size: 0.95rem;
    font-style: italic;
    text-align: left;
}

.search-bar form {
    font-size: 20px;
    height: 20px;
}

.search-bar input[type=text] {
    border: none;
}

.pb-40 {
    padding-bottom: 40px;
}