.welcome-row {
    height: 100vh;
}

.spacing-row {
    height: 100px;
}

.welcome-text{
    padding-top: 10%;
}

.welcome-pic{
    float:right;
    height:90%;
    width: 90%;
    
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
}

.card:hover{
    box-shadow: 3px 3px 7px #999;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.card{
    box-shadow: 3px 3px 7px rgb(211, 211, 211);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

